* {
    margin: 0px;
    padding: 0px;
}

.hero {
    height: 94vh;
    width: 100%;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heroContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}