.textSection {
    height: max-content;
    background-color: #389de5;
    color: rgb(255, 255, 255);
}

.textSecBody{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.TextSecTitle{
    font-size: 40px;
    font-weight: 400;
    line-height: 160%;
}