.main {
    margin-top: 20vh;
    padding: 100px 0px;
    background-color: rgb(246, 246, 246);
}

.mainheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.mainTitle {
    font-size: 40px;
    font-weight: 700;
    width: 30%;
}

.mainright {
    width: 30%;
}

.mainHdrAltText {
    border-left: 3px solid #389de5;
    padding-left: 15px;
    margin-top: 20px;
}

.mainText {
    line-height: 160%;
    color: rgb(151, 151, 151);
    font-weight: 500;
}

.MainTtilealttext {
    font-size: 20px;
}

.mainSpanTitle {
    color: #389de5;
}

.maincardlist {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.maincardlistBody {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .mainheader {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mainTitle {
        width: 100%;
    }
    .mainright {
        width: 100%;
    }

}