.MobileBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 0px 100px;
    background-color: #1a1a1a;
    position: relative;
    height: 65vh;
    gap: 20px;
}

.Mimgd {
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 100px;
    display: flex;
    
}

.MobileImg {
    height: 100%;
    border-radius: 50px;
}

.MobileR {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.MobileRtitle {
    font-size: 40px;
    font-weight: 500;
    line-height: 160%;
}

.MobileRtext {
    color: #979797;
    line-height: 160%;
}

.decoyMobile {
    height: 100%;
}

@media (max-width:1100px) {
    .MobileBody {
        grid-template-columns: 1fr;
        height: max-content;
        text-align: center;
        padding: 80px 50px;
    }

    .Mimgd {
        height: 80vh;
        position: unset;
        bottom: 0;
        left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}