.Mobile{
    height: 80vh;
    background-color: rgb(30, 30, 30);
}

.MobileBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.Mimgd{
    height: 30vh;
}

.MobileImg{
    height: 100%;
    
}