.Cmain {
    height: max-content;
    display: flex;
    align-items: center;
}

.Cbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 80px 100px ;
    justify-content: center;
    align-items: center;
}

.CbL{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Ctitle{
    font-size: 40px;
    line-height: 150%;
    width: 80%;
    font-weight: 700;
}

.Calttext{
    color:#979797 ;
    line-height: 160%;
}

.Cbtns{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.CvB{
    height: 50vh;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}

.bgvideo{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

@media (max-width:1100px) {
    .Cbody {
        grid-template-columns: 1fr; 
    }

}

@media (max-width:500px) {
    .Cbody {

        gap: 40px;
        padding: 80px 50px ;

    }
    .Ctitle{
        font-size: 30px;
        line-height: 150%;
        width: 80%;
        font-weight: 700;
    }
    
    .Calttext{
        color:#979797 ;
        line-height: 160%;
    }

}


@media (max-width:380px) {
    .Cbody {

        gap: 40px;
        padding: 80px 20px ;

    }
    .Ctitle{
        font-size: 30px;
        line-height: 150%;
        width: 80%;
        font-weight: 700;
    }
    
    .Calttext{
        color:#979797 ;
        line-height: 160%;
    }

}
